table.dataTable{
    thead {
        th {
            white-space: nowrap;
            border-bottom: 0;
            font-weight: 500;
        }

        th.td-right {
            text-align: right;
        }
    }

    tbody {
        td {
            white-space: nowrap;
        }
        
        td.td-right {
            text-align: right;
        }
    }
}

.datatbles_wrapper, .no-footer {
    height: 0;
    overflow: visible;

    .dt-buttons {
        width: 200px;

        .dt-button {
            font-size: 16pt;
            color: #000000;
            padding: 0 0.25em;
        }
    }
}

.dataTables_wrapper.no-footer{
    .dataTables_scrollBody {
        border-bottom: none;
    }
}