label {
    vertical-align: top;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 0.9em;
}

.select-frequency {
    width: 150px;
    height: 64px;
    overflow: hidden;

    option {
        font-size: 0.85em;
        font-family: 'Lucida Sans', sans-serif;
    }
}