@import '~angular-tree-component/dist/angular-tree-component.css';

.sidebar {
    height: 440px;
    overflow: auto;
    margin-left: 5px;
    
    .node-content-wrapper {
        padding: 0px 5px;
    }
     
    .bold-selected {
        font-weight: 600;
    }
}
