.sidebar {
    height: 445px;
    overflow: auto;
}
.tree-node-focused {
    .node-wrapper {
        .node-content-wrapper.parent {
            background-color: rgba(29, 102, 127, 0.3);
        }
    }
}