/* span {
    display: inline-block;
    vertical-align: top;
}

.multi-select {
    display: inline-block;
    border: 1px solid #ABABAB;
    background-color: #FFFFFF;
    width: 180px;
    height: 100px;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 0.8em;

    label, label span {
        display: block;
        width: 100%;
        margin-bottom: 0;
    }

    input[type="checkbox"] {
        opacity: 0;
        position: absolute;
    }

    :checked + span {
        background: #0481B9;
        color: #FFFFFF;
    }
} */