label {
    vertical-align: top;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 0.9em;
}

.select-region {
    width: 180px;
    height: 90px;
    overflow: hidden;

    option {
        font-size: 0.85em;
        font-family: 'Lucida Sans', sans-serif;
    }
}