<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-1 col-md-4 col-lg-3 col-xl-2">
              <app-category-sidebar (selectedCatIds)="getSelected($event)"></app-category-sidebar>
            </div>
            <div class="col-xs-12 col-md-8 col-lg-9 col-xl-10 content-col">
            </div>
        </div>
        <div class="row">
          <app-freq-selector [freqs]="freqList"></app-freq-selector>
          <app-geo-selector [regions]="geoList"></app-geo-selector>
        </div>
   </div>
</div>
