#wrapper {
    width: 960px;
    overflow-x: auto;
    overflow-y: hidden;

    .indicators {
        border-right: 1px solid #3096A1;
        width: 250px;
        display: inline-block;

        h6 {
            margin: 0.5em;
            font-size: 0.9rem;
            letter-spacing: 0.025em;
            font-family: 'Lucida Sans', sans-serif;
        }
    }
    
    .content-col {
        width: 705px;
        display: inline-block;
        vertical-align: top;
    }

    .loading {
        font-size: 0.8em;
        color: #1D667F;
        position: relative;
        top: 50%;
        text-align: center;
    }

    .btn {
        line-height: 1;
        border-radius: 0;
        cursor: pointer;
    }

    .clear-table {
        float: right;
        margin-bottom: -1.75em;
    }

    .welcome-msg {
        p {
            margin-bottom: 0.5rem;
        }
    
        width: 80%;
        margin-top: 5%;
        margin-left: 10px;

        .dbedt {
            font-size: 1rem;
            color: #ED7D31;
            font-weight: 600;
        }
    }
}

.selectors {
    margin-top: 1em;

    .btn {
        line-height: 1;
        border-radius: 0;
        cursor: pointer;
        //float: right;
        background-color: #29A8B4;
        color: #FFFFFF;
    }

    p {
        display: inline-block;
    }

    .text-danger {
        margin-bottom: 0;
    }
    
    .dropdown {
        display: inline-block;
        vertical-align: top;
    }

    #area-selector {
        margin-left: 5px;
        margin-right: 15px;
    }

    #freq-selector {
        margin-right: 15px;
    }

    .get-data {
        .btn {
            line-height: 1;
            border-radius: 0;
            cursor: pointer;
            background-color: #29A8B4;
            color: #FFFFFF;
        }

        display: inline-block;
        float: right;

        .loading {
            display: none;

            i {
                font-size: 2em !important;
                vertical-align: middle;
                color: #29A8B4;
            }
        }
    }
}