<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-1 col-md-4 col-lg-3 col-xl-2 sidebar">
              <app-category-sidebar (selectedCatIds)="getSelectedSeries($event)"></app-category-sidebar>
            </div>
            <div class="col-xs-12 col-md-8 col-lg-9 col-xl-10 content-col">
              <app-indicator-table *ngIf="displayTable" [dateArray]="dateArray" [tableData]="tableData" [datesSelected]="datesSelected"></app-indicator-table>
            </div>
        </div>
        <div class="row">
          <app-freq-selector [freqs]="frequencies" [(selectedFreqs)]="selectedFreqs" (selectedFreqList)="freqChange($event)"></app-freq-selector>
          <p *ngIf="selectedFreqs.length > 0">From&nbsp;</p>
          <app-year-selector *ngIf="selectedFreqs.length > 0" [years]="datesSelected.fromYearList" [(selectedYear)]="datesSelected.selectedStartYear" (selectedYearChange)="startYearChange($event)"></app-year-selector>
          <app-quarter-selector *ngIf="quarterSelected" [quarters]="datesSelected.fromQuarterList" [(selectedQuarter)]="datesSelected.selectedStartQuarter" (selectedQuarterChange)="startQuarterChange($event)"></app-quarter-selector>
          <app-month-selector *ngIf="monthSelected" [months]="datesSelected.fromMonthList" [(selectedMonth)]="datesSelected.selectedStartMonth" (selectedMonthChange)="startMonthChange($event)"></app-month-selector>
          <p *ngIf="selectedFreqs.length > 0">To&nbsp;</p>
          <app-year-selector *ngIf="selectedFreqs.length > 0" [years]="datesSelected.toYearList" [(selectedYear)]="datesSelected.selectedEndYear" (selectedYearChange)="endYearChange($event)"></app-year-selector>
          <app-quarter-selector *ngIf="quarterSelected" [quarters]="datesSelected.toQuarterList" [(selectedQuarter)]="datesSelected.selectedEndQuarter" (selectedQuarterChange)="endQuarterChange($event)"></app-quarter-selector>
          <app-month-selector *ngIf="monthSelected" [months]="datesSelected.toMonthList" [(selectedMonth)]="datesSelected.selectedEndMonth" (selectedMonthChange)="endMonthChange($event)"></app-month-selector>
          <app-geo-selector [regions]="regions" [(selectedGeos)]="selectedGeos" (selectedGeoList)="geoChange($event)"></app-geo-selector>
          <p *ngIf="invalidDates">{{invalidDates}}</p>
        </div>
   </div>
</div>
