label {
    display: block;
    text-align: center;
}

.custom-select {
    font-family: 'Lucida Sans', sans-serif;
    height: 2.5rem;
    padding: .5rem 1.75rem .5rem .75rem;
    border-radius: 0;
}